<div>
<div class="row mt-5">
    <div class="card col-lg-3 mr-3 ml-5">
      <div class="container">
        <img class="emoji" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQt_BL_zqZOGMnpGCkgk5VZuw99oKspN3AGtk4ITzQ1QDvA7Z8S" name="Happy" /><h5>What went Well</h5>  
      </div>
      <div class="row ml-3"> 
         <input type="text">
      <button><i data-toggle="modal" data-target="#myModal" class="material-icons">add</i></button>
    
      </div>
     
  
      </div>
      
       <div class="card col-lg-3 mr-3 ml-3">
        <div class="container">
          <img class="emoji" src="https://i.pinimg.com/originals/13/d1/7a/13d17a9f00a9f1423fef6ac75461802c.jpg" name="sad" /> <h5>What did'nt Go Well</h5>    
        </div>
        <div class="row ml-3"> 
          <input type="text">
       <button><i class="material-icons">add</i></button>
       </div>
        </div>
  
        <div class="card col-lg-3 mr-3 ml-3">
          <div class="container">
            
            <!--<img class="bulb" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQceDUGPgaT19caeuTL2NebQf4-AtLz5w1arkSLAOuE1Erwyk2o" name="sad" />--><h5>What needs to be Continued</h5> 
            </div>
            <div class="row ml-3"> 
              <input type="text">
           <button onclick="addText"><i class="material-icons">add</i></button>
           </div>
          </div>
  
          </div>
          <div class="row mt-5">
          <button type="submit" class="btn btn-success ">Submit</button></div> 
          </div>
